
.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 30px;
	font-weight: bold;
	line-height: 34px;
	height: 50px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 50px;
  }
  
  /*Takes effect on any component with both the square and unrevealed className 
  	Precedence order: most specific first, then last in css file
  	So this overrides .square but not .square.flag*/
  .square.unrevealed {
	background: #fff;
  }
  
  .square.flag {
	background: rgb(253, 182, 182);
  }

  .square.won-flag {
	background: rgb(255, 220, 220);
  }

  .square.lost-flag {
	background: rgb(153, 82, 82);
  }
  
  .square.revealed {
	background: rgb(189, 186, 186);
  }
  
  .square.bomb {
	background: rgb(68, 67, 67);
  }
  
.board-row:after {
clear: both;
content: '';
display: table;
}

.large-text {
	font-size: 50px;
}