@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./board.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 
h3 {
  margin-top: 0;
  font-size: 18px;
} */

.flag-mode-on {
  background: rgb(253, 182, 182);
  border: 1px solid #999;
}

.flag-mode-off {
  background: rgb(186, 186, 186);
  border: 1px solid #999;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-size: 80%; /* Adjust the size as needed */
}